button {
  border-radius: 5px;
  @include textFormat(15px, lighter, $cream, 2px);
  text-transform: lowercase;
  padding: 5px 15px 10px 15px;
  margin: 1%;
  background:transparent;
  height: 30px;
  border: 1px solid $cream;
  transition: all 300ms ease-in-out;
  &:hover {
    cursor: pointer;
    background: $yellow;
    border: 1px solid transparent;
    color: $primaryBlue;
    transition: all 300ms ease-in-out;
  }
  &:focus {
    outline: none;
  }
}

#removeButton {
  border: none;
  text-transform: uppercase;
  &:hover {
    color: $red !important;
  }
}

#seeAllRoasts {
  margin-left: 0;
}

#addFlavor {
  margin-right: 0;
}
