<div class="contactHeader">
  <h1 class="contactHead">Contact</h1>
  <form class="contactForm" action="https://formspree.io/pdxroasted@gmail.com" method="POST"
      [ngFormModel]="contactForm"
      (submit)="onSubmit()">
    <input type="hidden" name="_subject" value="New submission!" />
    <div class="formField">
      <label for="name">Your Name</label>
      <input type="text" name="name" ngControl="name" required>
      <control-messages control="name"></control-messages>
    </div>
    <div class="formField">
      <label for="email">Email</label>
      <input name="_replyto" type="email" ngControl="email" required>
      <control-messages control="email"></control-messages>
    </div>
    <div class="formField">
      <label for="message">Message</label>
      <textarea name="message" ngControl="message" required></textarea>
      <control-messages control="message"></control-messages>
    </div>
    <input type="text" name="_gotcha" style="display:none" />
    <button id="submit" type="submit" value="Send"
    [disabled]="!contactForm.valid">send</button>
  </form>
</div>
