<div class="contentwrapper">
  <div class="homepageLeft">
    <div class="logo"></div>
    <div class="logoText">
      <h1>PDX ROASTED</h1>
      <h3 class="tagline">Find the best Portland roasted coffee for you.<br>Browse the entire collection, or filter by flavor.</h3>
      <button id="seeAllRoasts" (click)="seeAllRoasts()">See all roasts</button>
      <button id="flavorFilter" (click)="filterByFlavor()">Filter by flavor</button>
    </div>
    <div class="search animated fadeIn" *ngIf="filter_by">
      <div *ngIf="roasts.length !== 1">
        <select class="flavorDropdown" [(ngModel)]="flavor">
          <option selected>Choose a flavor</option>
          <option *ngFor="#flavor of flavors" [value]="flavor">
            {{flavor}}
          </option>
        </select>
        <button id="addFlavor" (click)="addToPalette()">Add</button>
      </div>
      <div class="flavor-palette">
        <h3 class="myFlavors">My flavor palette</h3>
        <div *ngIf="palette.length == 0">
          <h4 class="noFlavors">No flavors - try adding some!</h4>
        </div>
        <div *ngIf="palette.length > 0">
          <ul>
            <li *ngFor="#pal of palette">
              {{pal}}
              <button id="removeButton" (click)="removeFromPalette(pal)">X</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <search-result-list [roasts]="roasts"></search-result-list>
</div>
