html {
  background-color: white;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }


body::-webkit-scrollbar {
  display: none;
}

div::-webkit-scrollbar {
  display: none;
}



.hidden {
  display: none !important;
}

.contentwrapper {
  overflow: auto;
  transition: all 500ms ease-in-out;
  @media screen and #{$brk-mobile} {
    @include flexbox($direction: column);
    transition: all 500ms ease-in-out;
  }
}
