html {
  background-color: $primaryBlue;
  color: white;
}

a {
  color: white;
}

.navIcon {
  padding: .4em;
  cursor: pointer;
  display: none;
  @media screen and #{$brk-mobile} {
    z-index: 1;
    height: 30px;
    width: 40px;
    @include flexbox(flex, column, space-around, center);
  }
  .iconbar {
    width: 30px;
    height: 3px;
    background-color: white;
    border-radius: 2px;
  }
}


nav {
  .mainNav {
    @media screen and #{$brk-mobile} {
      display: none;
    }
    ul {
      margin-top: 5%;
      display: flex;
      list-style-type: none;
      @include flexbox ($justify: space-around);
      a {
        @include textFormat(16px, lighter, $color: $cream, $l-spacing: 1px);
        text-decoration: none;
        text-transform: lowercase;
      }
    }
  }
  .mobileNav {
    position: absolute;
    height: 94vh;
    width: 100vw;
    background: $primaryBlue;
    @include flexbox($justify: center, $direction: column, $align: center);
    ul {
      margin: 0;
      padding: 0;
      height: 50vh;
      @include flexbox($justify: space-between, $direction: column, $align: center);
      list-style-type: none;
      a {
        @include textFormat(30px, lighter, $color: $cream, $l-spacing: 1px);
        text-decoration: none;
        text-transform: lowercase;
      }
    }
  }
}
