// VARIABLES

// Paths
$path-img: '/../resources/img';

// Colors
$primaryBlue: #272D2E;
$yellow: #E3BF3E;
$red: #752F1F;
$cream: #EDEAE1;
$green: #648956;


// Media Queries

$brk-mobile: '(max-width: 750px)';
$brk-sm-mobile: '(max-width: 447px)';
